<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="/">
    <link href="assets/css/{{theme}}/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="nav-topo">
        <div class="flex-row space-between" style="padding-right: 40px;">
            <div class="flex-row">
                <img src="assets/img/TQSOP.png" class="logo-tqsop">
                <h2>TQSOP Stats</h2>
            </div>            
            <div>
                <form action="/filtrar" method="GET">
                    <input type="text" required
                        name="idPokerstars"
                        placeholder="Digite o Id Pokerstars..."  
                        oninvalid="this.setCustomValidity('Informe o ID Pokestars')"
                        oninput="this.setCustomValidity('')" >
                    <input type="submit" class="btn" value="Pesquisar">
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
        <input type="button" class="float-right" onclick="window.location = '/'" value="Voltar">
    </div>
</body>
</html>
