:root {
    --body-background:rgb(240,240,240);
    --body-color: #656565;
    --nav-border-bottom: #efefef;
    --box-background: #fff;
    --box-color:#bdbdbd;
    --box-border:#d1d1d1;
    --button-background: #a7a7a7;
    --button-border: #b6b6b6;
    --button-color: #000000;
}

input[type=text]{
    border: 1px solid #d1d1d1;
}

nav.nav-topo{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15);
}

div.box-big{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

div.box{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
}

div.textBox{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}