:root {
    --body-background:#2c2c2c;
    --body-color: rgb(240,240,240);
    --nav-border-bottom: #1d1d1d;
    --box-background: #0a0a0a;
    --box-color:#868686;
    --box-border:#424242;
    --button-background: #363636;
    --button-border: #3f3f3f;
    --button-color: #d4d4d4;
}